<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
    <div layout="row" layout-align="center center">
        <h6>Wirte Smart is an intelligent writing practice with power packed features to
          make you more efficent on writing and is backed by
        <code>Artificial Intelligence</code>
    </h6>
    </div>
    <div>
        <md-list flex layout="row" layout-align="center center">
            <md-list-item ng-repeat="item in items" style="height:50px !important;">
                <md-button class="md-raised md-primary" ng-click="showDialog($event)">
                    {{ item.name }}</i>
                </md-button>
            </md-list-item>
        </md-list>
    </div>
</md-bottom-sheet>
